In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [115]:
df=pd.read_csv('/kaggle/input/melting-point/train.csv')

In [116]:
df.head()

,id,SMILES,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
0,2175,FC1=C(F)C(F)(F)C1(F)F,213.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1222,c1ccc2c(c1)ccc3Nc4ccccc4c23,407.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2994,CCN1C(C)=Nc2ccccc12,324.15,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1704,CC#CC(=O)O,351.15,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2526,CCCCC(S)C,126.15,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
df=pd.get_dummies(df,columns=['SMILES'],drop_first=True)

In [118]:
X=df.drop(['Tm','id'],axis=1)
y=df['Tm']

In [119]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.2,random_state=42)

In [120]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_val=scaler.transform(X_val)

In [121]:
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor(n_neighbors=9,weights="distance",metric="manhattan",p=1,algorithm="ball_tree")
model.fit(X_train,y_train)

KNeighborsRegressor(algorithm='ball_tree', metric='manhattan', n_neighbors=9,
                    p=1, weights='distance')

In [122]:
y_pred=model.predict(X_val)

In [123]:
from sklearn.metrics import r2_score
r2_score(y_val,y_pred)

0.34710549369303445

In [124]:
test=pd.read_csv("/kaggle/input/melting-point/test.csv")
test_ids=test["id"]
test.drop('id',axis=1)
test.head()

,id,SMILES,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
0,1022,CCOC(=O)c1ccc(O)cc1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1146,CCCCCCc1ccc(O)cc1O,1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,79,ClCBr,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2279,C=CCCCCCCCC,1,7,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1342,Fc1ccc(cc1)C(F)(F)F,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [125]:
test=pd.get_dummies(test,columns=['SMILES'],drop_first=True)

In [126]:
X, test = X.align(test, join='left', axis=1, fill_value=0)

In [127]:
test=scaler.transform(test)

In [128]:
predictions=model.predict(test)
submission=pd.DataFrame({
    "id":test_ids,
    "Tm":predictions
})
submission.to_csv("final_ans2.csv",index=False)
submission.head()

     id          Tm
0  1022  289.248048
1  1146  282.427497
2    79  220.279742
3  2279  219.431259
4  1342  272.669313